body{
 background-color: #210002;
}
main{
    background-color: #210002;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    .section{
        display: flex;
    
    background-color: #210002;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    }
    .imagem{
        display: flex;
        flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 200px;
        img{
            height: 140px;
        }
    }

    #top{
        margin-bottom: 75px;
        border-bottom: 2px solid #a34300;
        overflow: hidden;
    }
    
}