.question{
    font-family: 'Nunito', sans-serif;
    color: #ffaf00;
    margin-bottom: 75px;
    h4{
        font-size: 25px;
        line-height: 40px;
        margin: 0px;
        margin-bottom: 10px;
        overflow: wrap;
    }
    p{
        margin: 0px;
        font-size: 15px;
        line-height: 32px;
    }
    
}